<!-- Inicio -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/inicio"
  ><span class="menu-title">Inicio</span
  ></a>
</div>

<!-- Actividades -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/actividades"
  ><span class="menu-title">Actividades</span></a
  >
</div>


<!-- Convenios -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/convenios"
  ><span class="menu-title">Convenios</span></a
  >
</div>

<!-- Deportes -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/deportes"
  ><span class="menu-title">Deportes</span></a
  >
</div>

<!-- Telefonía -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/telefonia"
  ><span class="menu-title">Telefonía</span></a
  >
</div>

<!-- Enlaces -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/enlaces"
  ><span class="menu-title">Enlaces</span></a
  >
</div>

<!-- Ofertas -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/ofertas"
  ><span class="menu-title">Ofertas</span></a
  >
</div>

<!-- Asociación -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/asociación"
  ><span class="menu-title">Asociación</span></a
  >
</div>

