<!-- Inicio -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/inicio"
  ><span class="menu-title">Inicio</span
  ></a>
</div>

<div
  class="menu-item menu-lg-down-accordion me-lg-1"
  data-kt-menu-trigger="{default:'click', lg: 'hover'}"
  data-kt-menu-placement="bottom-start">
  <span
    class="menu-link py-3"
    [ngClass]="calculateMenuItemCssClass('/noticias')">
    <span class="menu-title" data-link="/noticias">Noticias</span><span class="menu-arrow"></span>
  </span>
  <div
    class="
      menu-sub
      menu-sub-lg-down-accordion
      menu-sub-lg-dropdown
      menu-rounded-0
      py-lg-4
      w-lg-225px
    "
    data-kt-menu-dismiss="true"
  >
    <div class="menu-item me-lg-1">
      <a
        class="menu-link py-3"
        routerLinkActive="active"
        routerLink="/noticias/ultimas-noticias"
      ><span class="menu-bullet"
      ><span class="bullet bullet-dot"></span></span
      ><span class="menu-title">Últimas Noticias</span></a
      >
    </div>
    <div class="menu-item me-lg-1">
      <a
        class="menu-link py-3"
        routerLinkActive="active"
        routerLink="/noticias/hemeroteca"
      ><span class="menu-bullet"
      ><span class="bullet bullet-dot"></span></span
      ><span class="menu-title">Hemeroteca</span></a
      >
    </div>
  </div>
</div>

<!-- Actividades -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/actividades"
  ><span class="menu-title">Actividades</span></a
  >
</div>


<!-- Convenios -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/convenios"
  ><span class="menu-title">Convenios</span></a
  >
</div>

<!-- Deportes -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/deportes"
  ><span class="menu-title">Deportes</span></a
  >
</div>

<!-- Telefonía -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/telefonia"
  ><span class="menu-title">Telefonía</span></a
  >
</div>

<!-- Enlaces -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/enlaces"
  ><span class="menu-title">Enlaces</span></a
  >
</div>

<!-- Ofertas -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/ofertas"
  ><span class="menu-title">Ofertas</span></a
  >
</div>

<!-- Asociación -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/asociación"
  ><span class="menu-title">Asociación</span></a
  >
</div>

