<!-- Inicio -->
<div class="menu-item me-lg-1 d-lg-none">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/admin/inicio"
  ><span class="menu-title">Inicio</span></a
  >
</div>

<!-- Actividades -->
<div
  class="menu-item menu-lg-down-accordion me-lg-1 d-lg-none"
  data-kt-menu-trigger="{default:'click', lg: 'hover'}"
  data-kt-menu-placement="bottom-start">
  <span
    class="menu-link py-3"
    [ngClass]="calculateMenuItemCssClass('/admin/actividad')">
    <span class="menu-title" data-link="/admin/actividad">Actividades</span><span class="menu-arrow"></span>
  </span>
  <div
    class="
      menu-sub
      menu-sub-lg-down-accordion
      menu-sub-lg-dropdown
      menu-rounded-0
      py-lg-4
      w-lg-225px
    "
    data-kt-menu-dismiss="true"
  >
    <div class="menu-item me-lg-1">
      <a
        class="menu-link py-3"
        routerLinkActive="active"
        routerLink="/admin/actividad/nueva"
      ><span class="menu-bullet"
      ><span class="bullet bullet-dot"></span></span
      ><span class="menu-title">Nueva Actividad</span></a
      >
    </div>
    <div class="menu-item me-lg-1">
      <a
        class="menu-link py-3"
        routerLinkActive="active"
        routerLink="/admin/actividad/listado"
      ><span class="menu-bullet"
      ><span class="bullet bullet-dot"></span></span
      ><span class="menu-title">Listado</span></a
      >
    </div>
  </div>
</div>


