<!-- Inicio -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/inicio"
  ><span class="menu-title">Inicio</span
  ></a>
</div>

<!-- Actividades -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/actividades"
  ><span class="menu-title">Actividades</span></a
  >
</div>


<!-- Convenios -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/convenios"
  ><span class="menu-title">Convenios</span></a
  >
</div>

<!-- Deportes -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/deportes"
  ><span class="menu-title">Deportes</span></a
  >
</div>

<!-- Telefonía -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/telefonia"
  ><span class="menu-title">Telefonía</span></a
  >
</div>

<!-- Enlaces -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/enlaces"
  ><span class="menu-title">Enlaces</span></a
  >
</div>

<!-- Ofertas -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/ofertas"
  ><span class="menu-title">Ofertas</span></a
  >
</div>

<!-- Asociación -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/asociacion"
  ><span class="menu-title">Asociación</span></a
  >
</div>

<!-- Acceso a clientes -->
<div class="menu-item me-lg-1 d-lg-none">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/admin/inicio"
  ><span class="menu-title">Acceso a socios</span></a
  >
</div>


<div class="menu-item me-lg-1" style="display: none;">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/normativa/aviso-legal"
  ><span class="menu-title">Aviso legal</span></a
  >
</div>

<div class="menu-item me-lg-1" style="display: none;">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/normativa/condiciones-de-uso"
  ><span class="menu-title">Condiciones de uso</span></a
  >
</div>

<div class="menu-item me-lg-1" style="display: none;">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/normativa/politica-de-privacidad"
  ><span class="menu-title">Política de privacidad</span></a
  >
</div>

